* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 80vw;
    height: 100vh;
}

nav {
    display: flex;
    align-items: space-evenly;
    width: 100vw;
    height: 4vh;
    background-color: #bc6c25;
}