* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background-color: #dda15e;
}

main {
    width: 80vw;
    height: 100vh;
}

nav {
    width: 100vw;
    height: 10vh;
    background-color: #bc6c25;
}