@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

/*#region css_reset*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*#endregion*/


/*#region variables*/
$primary-color: #fff;
$secondary-color: #000;

$font-stack: 'Fira Sans', sans-serif;

/*#endregion*/


body {
    background-image: url("city-blurry.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    overflow-x: hidden;

    width: 100vw;
    height: 100vh;

    font-family: $font-stack;
    position: relative;

    #overlay {
        z-index: -1;
        position: absolute;
        width: 90%;
        height: 100%;

        background-color: #ffd4b02d;
        backdrop-filter: blur(15px);
    }

    color: $primary-color;
}

main {
    width: 80%;
    height: 100%;

    h1 {
        font-size: 5em;
        font-weight: bold;
        padding: 1em 0 0.2em;
    }

    p {
        font-size: 1.5em;
        padding: 2em 0;
        line-height: 1.5em;
    }

    #timer {
        font-size: 2em;
        font-weight: bold;


        display: flex;
        flex-direction: row;
        justify-content: space-evenly;


        padding: 2em 1em;
        border-radius: 20px;
        border: 3px solid #0000002d;

        div {
            display: flex;
            flex-direction: column;
            width: 18%;
            height: auto;
            text-align: center;

            div {
                width: 100%;
                font-size: 3em;
            }

            p {
                width: 100%;
                height: auto;
                font-size: 1em;
                text-align: center;
                padding: 0;
            }
        }
    }
}


@media only screen and (max-width: 425px) {
    #timer {
        flex-direction: column;
    }
}